<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>

<!-- <style>

    /* Style inputs */
  input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
input[type=submit] {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #45a049;
}
</style> -->
<!-- <body>
    
    <form action="/RegisterUser" method="post">

        <label for="FirstName">First Name:</label>
        <input type="text" name="FirstName" placeholder="First Name">
        <br>

        <label for="LastName">Last Name:</label>
        <input type="text" name="LastName" placeholder="Last Name">
        <br>
        <label for="EmailId">Email Id:</label>
        <input type="text" name="EmailId" placeholder="Email Id">
        <br>
        <label for="PhoneNumber">Phone Number:</label>
        <input type="text" name="PhoneNumber" placeholder="Phone Number">
        <br>
        <label for="Company">Company:</label>
        <input type="text" name="Company" placeholder="Company">
        <br>
        <label for="Designation">Designation:</label>
        <input type="text" name="Designation" placeholder="Designation">
        <br>
        <input type="submit">

    </form>

</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="login-page">
    <div class="form" >

      <form class="register-form" action="/registerUser" method="Post">
      <!-- <label for="FirstName">First Name:</label> -->
      <input type="text" name="FirstName" placeholder="First Name">
      <br>

      <!-- <label for="LastName">Last Name:</label> -->
      <input type="text" name="LastName" placeholder="Last Name">
      <br>
      <!-- <label for="EmailId">Email Id:</label> -->
      <input type="email" name="EmailId" placeholder="Email Id">
      <br>
      <!-- <label for="PhoneNumber">Phone Number:</label> --> 

      <!-- <input type="text" pattern="[789][0-9]{9}"> -->
      <input type="tel"  pattern="[789][0-9]{9}" name="PhoneNumber" placeholder="Phone Number">
      <br>
      <!-- <label for="Company">Company:</label> -->
      <input type="text" name="Company" placeholder="Company">
      <br>
      <!-- <label for="Designation">Designation:</label> -->
      <input type="text" name="Designation" placeholder="Designation">
      <br>
      <input type="submit" id="submit" value="submit"> 

      <p class="message">Already registered? <a href="/login">Sign In</a></p>
     </form>

  
    </div>
  </div>
  



  <style>

    label{
      text-align: left;
float: left;
    }
    @import url(https://fonts.googleapis.com/css?family=Roboto:300);
    body {
    background: rgb(141,194,111);
    background: linear-gradient(90deg, rgba(141,194,111,1) 0%, rgba(118,184,82,1) 50%);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }

  #submit{
   
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  
  }
  #submit:hover,#submit:active,#submit:focus {
    background: #43A047;
  }
   .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }

  .register-form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #4CAF50;
    text-decoration: none;
  }
  /* .form .register-form {
    display: none;
  } */
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  } 

 
  </style>
  
  <script>
    $('.message a').click(function(){
     $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
  });
  </script> 
  
</body>
</html>
